{% extends "::base2.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('src/css/summernote/summernote.css') }}" rel="stylesheet">
    <link href="{{ asset('src/css/summernote/summernote-bs3.css') }}" rel="stylesheet">
    <link href="{{ asset('src/css/datapicker/datepicker3.css') }}" rel="stylesheet">

{% endblock %}

 {% block actionArea %}
     <a href="{{ path('foot_list_news') }}" class="btn btn-primary"><i class="fa fa-list-ul"></i> Classement list</a>
 {% endblock %}
{% block titleContaint %}
    <h2>Add Classement</h2>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a>Classement</a>
        </li>
        <li class="active">
            <strong>Add Classement</strong>
        </li>
    </ol>
{% endblock %}
{% block ClassementActive %}class="active"{% endblock %}
{% block ClassementAddctive %}class="active"{% endblock %}
{% block Containt %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>news</h5>
                </div>
                <div class="ibox-content">

                    <form method="post" action="{{ path('foot_add_classement') }}" enctype="multipart/form-data">
                        {{ form_row(form._token) }}
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger">
                                {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        {% if app.session.flashBag.has('success') %}
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <label for="exampleInputPassword1">Nom Equipe </label>
                            {{ form_widget(form.classement_equipe) }}
                        </div>
                        <div class="form-group">
                            <label>Point </label>
                            {{ form_widget(form.classement_points) }}
                        </div>
                        <div class="form-group">
                            <label>Rang</label>
                            {{ form_widget(form.classement_rang) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Image </label>
                            {{ form_widget(form.classement_image_file) }}
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-plus-square-o"></i> Add</button>
                        </div>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('src/js/summernote/summernote.min.js') }}"></script>
    <script src="{{ asset('src/js/datapicker/bootstrap-datepicker.js') }}"></script>

    <script>
        $(document).ready(function(){

            $('.summernote').summernote();

        });
        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    </script>

{% endblock %}

